<div id="<%= dom_id single %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= single.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= image_tag (single.photo) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= single.bio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= single.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Liked:</strong>
    <%= single.liked %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this single", single, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this single', edit_single_path(single), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
