<div class="mx-auto md:w-2/3 w-full flex flex-col content-start">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <article class="relative overflow-hidden rounded-lg shadow transition hover:shadow-lg">
      <%= image_tag (@single.photo),alt:"Photo",class:"absolute inset-0 h-full w-full object-cover" %>
      <div class="relative bg-gradient-to-t from-gray-900/50 to-gray-900/25 pt-32 sm:pt-48 lg:pt-64">
        <div class="p-4 sm:p-6">

            <h3 class="mt-0.5 text-lg text-white">
              <span class="text-black">Name:</span>
              <%= @single.name %>
            </h3>
            <p class="mt-0.5 text-lg text-white">
              <span class="text-black">Age: </span>
              <%= @single.age %>
            </p>
            <p class="mt-0.5 text-lg text-white">
              <span class="text-black">Status: </span>
              <%= @single.liked %>
            </p>
        </div>
      </div>
    </article>
    
    <div class="my-8">
    <%= @single.bio %>
    </div>

    <div class="my-8">
        <%= link_to 'Edit', edit_single_path(@single), class: "mt-2 rounded-lg py-3 px-5 bg-green-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to 'Delete', single_path(@single), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
        </div>
        <%= link_to 'Back', singles_path, class: "ml-2 rounded-lg py-3 px-5 bg-yellow-100 inline-block font-medium" %>
    </div>

    <div class="my-8">
      <% @single.comments.each  do |comment|  %>
        <div>
          <span class="font-bold">[<%= comment.created_at %> ]:</span>
          <span class="italic">
            <%= comment.body %>
          </span>
        </div>
      <% end %>
    </div>


    <div>
      <%= form_with model: [ @single, @single.comments.build ] do |form|  %>
        <div>
          <h3 class="font-extrabold"> <%= form.label 'New Comment' %> </h3> <br>
          <%= form.text_area :body %>
        </div>
        <br>
        <div class="ml-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium">
          <%= form.submit 'Submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
